**/Cargo.lock merge=binary linguist-generated=true linguist-vendored
**/*.snap merge=binary linguist-generated=true linguist-vendored
**/*.cbor merge=binary linguist-generated=true linguist-vendored
data/**/*.json merge=binary linguist-generated=true linguist-vendored
