**/Cargo.lock linguist-generated=true linguist-vendored
**/*.snap linguist-generated=true linguist-vendored
**/*.cbor linguist-generated=true linguist-vendored
data/**/*.json linguist-generated=true linguist-vendored
