[workspace]
members = ["crates/amaru", "crates/time"]
resolver = "2"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3

[profile.test.package]
proptest.opt-level = 3
rand_chacha.opt-level = 3
