[package]
name = "amaru"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
rust-version.workspace = true
build = "build.rs"

[dependencies]
async-trait.workspace = true
clap = { workspace = true, features = ["derive"] }
gasket = { workspace = true, features = ["derive"] }
hex.workspace = true
indicatif.workspace = true
indoc.workspace = true
miette = { workspace = true, features = ["fancy"] }
opentelemetry-otlp = { workspace = true, features = [ "grpc-tonic", "http-proto", "reqwest-client" ] }
opentelemetry.workspace = true
opentelemetry_sdk = { workspace = true, features = ["async-std", "rt-tokio"] }
pallas-codec.workspace = true
pallas-crypto.workspace = true
pallas-math.workspace = true
pallas-network.workspace = true
pallas-primitives.workspace = true
pallas-traverse.workspace = true
rand.workspace = true
rocksdb.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "signal"] }
tokio-util.workspace = true
tracing-opentelemetry.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter", "std"] }
tracing.workspace = true

ouroboros = { path = "../ouroboros" }
amaru-ledger = { path = "../ledger" }
amaru-stores = { path = "../stores" }

[target.'cfg(not(windows))'.dependencies]
sys_metrics.workspace = true

[dev-dependencies]
envpath = { workspace = true, features = ["rand"] }
insta = { workspace = true, features = ["json"] }
proptest.workspace = true
rand.workspace = true
tempfile.workspace = true

[build-dependencies]
built = { workspace = true, features = ["git2"] }
