lints.workspace = true

[package]
name = "amaru-kernel"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
rust-version.workspace = true

[dependencies]
bech32.workspace = true
hex.workspace = true
sha3.workspace = true
num.workspace = true
pallas-addresses.workspace = true
pallas-codec.workspace = true
pallas-crypto.workspace = true
pallas-primitives.workspace = true
pallas-traverse.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true

slot-arithmetic.workspace = true

[dev-dependencies]
proptest = { workspace = true, default-features = true }
test-case.workspace = true
