lints.workspace = true

[package]
name = "amaru-ledger"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
rust-version.workspace = true

[dependencies]
hex.workspace = true
num.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["json"] }
thiserror.workspace = true

iter-borrow.workspace = true
amaru-kernel.workspace = true
amaru-ouroboros-traits.workspace = true
slot-arithmetic.workspace = true
tracing-json.workspace = true

[dev-dependencies]
proptest = { workspace = true, features = ["std"] }
test-case.workspace = true

[target.'cfg(not(std))'.dependencies]
num = { workspace = true, default-features = false, features = [
    "alloc",
    "libm",
] }
