[package]
name = "amaru-sim"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
rust-version.workspace = true

[dependencies]
# External dependencies ───────────────────────────────────────────────────────┐
acto.workspace = true
anyhow.workspace = true
async-trait.workspace = true
clap.workspace = true
futures-util.workspace = true
gasket.workspace = true
hex.workspace = true
pallas-crypto.workspace = true
pallas-primitives.workspace = true
parking_lot.workspace = true
pure-stage = { workspace = true, features = ["simulation"] }
rand.workspace = true
rand_distr.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = [
  "rt",
  "rt-multi-thread",
  "signal",
  "io-util",
] }
tokio-stream.workspace = true
tokio-util.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true

# Internal dependencies ───────────────────────────────────────────────────────┐
amaru.workspace = true
amaru-kernel = { workspace = true, features = ["test-utils"] }
amaru-consensus = { workspace = true, features = ["test-utils"] }
amaru-network.workspace = true
amaru-ouroboros.workspace = true
amaru-slot-arithmetic.workspace = true

[dev-dependencies]
# External dependencies ───────────────────────────────────────────────────────┐
proptest.workspace = true
rand.workspace = true
amaru-tracing-json.workspace = true

[[bin]]
name = "simulator"
path = "src/bin/amaru-sim/main.rs"

[[bin]]
name = "echo"
path = "src/bin/echo/main.rs"
