[package]
name = "amaru-sim"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
rust-version.workspace = true

[package.metadata.cargo-machete]
ignored = ["amaru-consensus", "amaru-kernel", "amaru-ledger", "amaru-ouroboros", "hex", "pallas-codec", "pallas-crypto", "pallas-primitives"]

[dependencies]
async-trait.workspace = true
clap.workspace = true
futures-util.workspace = true
gasket.workspace = true
hex.workspace = true
pallas-codec.workspace = true
pallas-crypto.workspace = true
pallas-primitives.workspace = true
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "signal", "io-util"] }
tokio-stream.workspace = true
tokio-util.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true

amaru = { path = "../../crates/amaru" }
amaru-kernel = { path = "../../crates/amaru-kernel" }
amaru-consensus = { path = "../../crates/amaru-consensus" }
amaru-ledger = { path = "../../crates/amaru-ledger" }
amaru-ouroboros = { path = "../../crates/ouroboros" }
amaru-stores = { path = "../../crates/amaru-stores" }

[dev-dependencies]
envpath = { workspace = true, features = ["rand"] }
insta = { workspace = true, features = ["json"] }
proptest = {workspace = true, features = ["std"] }
rand.workspace = true
tempfile.workspace = true
test-case.workspace = true

[build-dependencies]
built = { workspace = true, features = ["git2"] }

[[bin]]
name = "simulator"
path = "src/bin/amaru-sim/main.rs"

[[bin]]
name = "echo"
path = "src/bin/echo/main.rs"
