name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["*"]

env:
  CARGO_TERM_COLOR: always
  # Disable incremental compilation for faster from-scratch builds
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_PROFILE_RELEASE_LTO: true
  CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1

jobs:
  sanity:
    name: Sanity
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ runner.os }}
      - name: Check format
        run: cargo fmt-amaru
      - name: Run clippy
        run: cargo clippy-amaru
  build:
    name: Build on ${{ matrix.environments.runner }} with target ${{ matrix.environments.target }}
    strategy:
      fail-fast: false
      matrix:
        environments:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - runner: macos-latest
            target: aarch64-apple-darwin
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
          - runner: ubuntu-latest
            target: wasm32-unknown-unknown
            packages: -p amaru-ledger
            command: build
            setup: rustup target add wasm32-unknown-unknown
          - runner: ubuntu-latest
            target: riscv32im-risc0-zkvm-elf
            packages: -p amaru-ledger
            extra-args: +nightly -Zbuild-std=std,panic_abort
            command: build
            setup: |
              curl -L https://risczero.com/install | bash
              /home/runner/.risc0/bin/rzup install
              rustup toolchain add nightly-x86_64-unknown-linux-gnu
              rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
          # Disabled for now
          #- runner: ubuntu-latest
          #  target: aarch64-unknown-linux-musl
          #  cross-compile: true
    timeout-minutes: 30
    runs-on: ${{ matrix.environments.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ runner.os }}-${{ matrix.environments.target }}
      - name: Run tests
        run: |
          set +e
          EXTRA_ARGS="${{ matrix.environments.extra-args || '' }}"
          SCOPE="${{ matrix.environments.packages || '--workspace' }}"
          COMMAND="${{ matrix.environments.command  || 'test' }}"
          if [[ -n "${{ matrix.environments.setup }}" ]]; then
            echo "Running setup command: ${{ matrix.environments.setup }}"
            ${{ matrix.environments.setup }}
          fi
          if [[ "${{ matrix.environments.cross-compile }}" == "true" ]] ; then
            cargo install cross --git https://github.com/cross-rs/cross
            # cross doesn't load .cargo/config.toml, see https://github.com/cross-rs/cross/issues/562
            $HOME/.cargo/bin/cross $COMMAND --locked --all-features $SCOPE --target ${{ matrix.environments.target }}
          else
            cargo $EXTRA_ARGS $COMMAND $SCOPE --locked --target ${{ matrix.environments.target }}
          fi
          exitcode="$?"
          if [[ "${{ matrix.environments.optional }}" == "true" && "$exitcode" != "0" ]] ; then
            # Propagate failure as a warning
            # but do not fail the job
            echo "::warning::Tests failed with exit code $exitcode"
            exit 0
          else
            exit "$exitcode"
          fi
        shell: bash
  examples:
    name: Examples
    strategy:
      fail-fast: false
      matrix:
        projects:
          - path: ledger-in-nodejs
            commands: |
              cargo build --release --artifact-dir assets
              node index.mjs
          - path: proof-of-ledger
            commands: |
              RUST_LOG="[executor]=info" RISC0_DEV_MODE=1 cargo run
    defaults:
      run:
        working-directory: examples/${{ matrix.projects.path }}
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ matrix.projects.path }}
      - name: Run commands
        run: ${{ matrix.projects.commands }}