name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened, converted_to_draft, ready_for_review]
    branches: ["*"]

env:
  CARGO_TERM_COLOR: always
  RUST_CACHE_PATH: |
    ~/.cargo/bin/
    ~/.cargo/registry/index/
    ~/.cargo/registry/cache/
    ~/.cargo/git/db/
    target/

jobs:
  build:
    name: Build ${{ matrix.environments.title }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        environments:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            title: x86_64/linux

          - runner: ubuntu-latest
            target: aarch64-unknown-linux-musl
            title: aarch64/linux
            command: test # This is a cross specific command. Do not change
            setup: rustup target add aarch64-unknown-linux-musl
            cross-compile: true

          - runner: macos-latest
            target: aarch64-apple-darwin
            title: aarch64/macos

          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            title: x86_64/windows
            command: test-amaru --profile dev-debug

          - runner: ubuntu-latest
            target: wasm32-unknown-unknown
            title: wasm32
            packages: -p amaru-consensus -p amaru-ledger -p pure-stage
            command: build
            setup: rustup target add wasm32-unknown-unknown

          - runner: ubuntu-latest
            target: riscv32gc-unknown-linux-gnu
            title: riscv32
            packages: -p amaru-ledger -p amaru-slot-arithmetic
            extra-args: +nightly -Zbuild-std=std,panic_abort
            command: build
            setup: rustup component add rust-src --toolchain nightly

    runs-on: ${{ matrix.environments.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - id: timestamp
        shell: bash
        run: |
          echo "value=$(/bin/date -u '+%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT
      # Cache dependencies when pushing (i.e. merging into allowed branch).
      - uses: actions/cache@v4
        if: github.event_name == 'push'
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-${{ matrix.environments.target }}-${{ steps.timestamp.outputs.value }}
          restore-keys: |
            cargo-${{ matrix.environments.target }}
      # Only restore cache for other types of events (e.g. Pull requests).
      - uses: actions/cache/restore@v4
        if: github.event_name != 'push'
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-${{ matrix.environments.target }}
          restore-keys: |
            cargo-${{ matrix.environments.target }}
      - name: Run build
        shell: bash
        run: |
          set -e
          EXTRA_ARGS="${{ matrix.environments.extra-args || '' }}"
          SCOPE="${{ matrix.environments.packages || '' }}"
          COMMAND="${{ matrix.environments.command  || 'test-amaru' }}"
          if [[ -n "${{ matrix.environments.setup }}" ]]; then
            echo "Running setup command: ${{ matrix.environments.setup }}"
            ${{ matrix.environments.setup }}
          fi
          if [[ "${{ matrix.environments.cross-compile }}" == "true" ]] ; then
            cargo install --force cross --git https://github.com/cross-rs/cross
            # cross doesn't load .cargo/config.toml, see https://github.com/cross-rs/cross/issues/562
            $HOME/.cargo/bin/cross $COMMAND --locked $SCOPE --target ${{ matrix.environments.target }}
          else
            if [[ "${{ matrix.environments.target }}" == "x86_64-unknown-linux-gnu" ]] ; then
              cargo $EXTRA_ARGS $COMMAND $SCOPE --locked
            else
              cargo $EXTRA_ARGS $COMMAND $SCOPE --locked --target ${{ matrix.environments.target }}
            fi
            # Run doc tests separately as --doc can't be used with --all-targets
            cargo test --doc
          fi

      - name: Upload test artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-simulation-data
          path: simulation/amaru-sim/test-data

      - name: Upload test artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-simulation-data
          path: simulation/amaru-sim/test-data

  coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: True
      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-x86_64-unknown-linux-gnu
          restore-keys: |
            cargo-x86_64-unknown-linux-gnu
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        shell: bash
        run: make coverage-lconv
      - name: Upload test artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-simulation-data
          path: simulation/amaru-sim/test-data
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info


  snapshots-instance-choice:
    name: End-to-end snapshot preparation
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.alt-runner.outputs.runner || 'ubuntu-latest' }}
    steps:
      - id: alt-runner
        if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
        run: echo "runner=buildjet-4vcpu-ubuntu-2204" >> $GITHUB_OUTPUT

  snapshots:
    name: End-to-end snapshot tests
    needs: snapshots-instance-choice
    runs-on: ${{ needs.snapshots-instance-choice.outputs.runner }}
    strategy:
      matrix:
        network:
          - name: preprod
            magic: 1
            target_epoch: 182
          - name: preview
            magic: 2
            target_epoch: 680
        cardano_node_version: [10.5.3]
    env:
      AMARU_NETWORK: ${{ matrix.network.name }}
      BUILD_PROFILE: test
      DEMO_TARGET_EPOCH: ${{ matrix.network.target_epoch }}
    if: ${{ !github.event.pull_request.draft }}

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: auto
      ENDPOINT: ${{ secrets.S3_ENDPOINT }}
      OBJECT: "s3://${{ secrets.CARDANO_NODE_BUCKET_NAME }}/${{ matrix.network.name }}.tar.zstd"

    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Reclaim Disk Space
        run: |
          # based on https://github.com/actions/runner-images/issues/2840#issuecomment-790492173
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"

      - id: timestamp
        shell: bash
        run: |
          echo "value=$(/bin/date -u '+%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

      - name: Download (Haskell) cardano-node's db
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p "${{ runner.temp }}/db"
          aws s3 cp "$OBJECT" - --endpoint-url "$ENDPOINT" | tar --zstd -xf - -C "${{ runner.temp }}/db"
          touch ${{ runner.temp }}/db/clean

      - name: Spawn Haskell Node
        id: spawn-cardano-node
        shell: bash
        run: |
          docker pull ghcr.io/intersectmbo/cardano-node:${{ matrix.cardano_node_version }}
          make HASKELL_NODE_CONFIG_DIR=cardano-node-config AMARU_NETWORK=${{ matrix.network.name }} download-haskell-config
          jq 'del(.bootstrapPeers)' ./cardano-node-config/topology.json > cardano-node-config/topology.patched.json
          mv cardano-node-config/topology.patched.json cardano-node-config/topology.json
          docker run -d --name cardano-node \
            -v ${{ runner.temp }}/db:/db \
            -v ${{ runner.temp }}/ipc:/ipc \
            -v ./cardano-node-config:/config \
            -v ./cardano-node-config:/genesis \
            -p 3001:3001 \
            ghcr.io/intersectmbo/cardano-node:${{ matrix.cardano_node_version }} run \
              --config /config/config.json \
              --database-path /db \
              --socket-path /ipc/node.socket \
              --topology /config/topology.json

      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-x86_64-unknown-linux-gnu
          restore-keys: |
            cargo-x86_64-unknown-linux-gnu

      - name: Build Amaru
        shell: bash
        run: |
          cargo test --no-run -p amaru

      - name: Cache Amaru's ledger.${{ matrix.network.name }}.db
        id: cache-ledger-db
        uses: actions/cache/restore@v4
        with:
          path: ./ledger.${{ matrix.network.name }}.db
          # If the ledger store serialisation format changes and become
          # incompatible, it is necessary to bump the index below to invalidate
          # the cached ledger snapshots, and recompute them from the CBOR ones
          # (i.e. Full bootstrap below)
          key: ${{ runner.OS }}-ledger-cache-v12-${{ steps.timestamp.outputs.value }}
          restore-keys: |
            ${{ runner.OS }}-ledger-cache-v12

      - name: Full bootstrap amaru
        if: steps.cache-ledger-db.outputs.cache-hit == ''
        shell: bash
        run: |
          make bootstrap

      - name: Light bootstrap amaru
        if: steps.cache-ledger-db.outputs.cache-hit != ''
        shell: bash
        run: |
          make import-headers
          make import-nonces

      - uses: actions/cache/save@v4
        if: github.event_name == 'push' || steps.cache-ledger-db.outputs.cache-hit == ''
        with:
          path: ./ledger.${{ matrix.network.name }}.db
          key: ${{ runner.OS }}-ledger-cache-v12-${{ steps.timestamp.outputs.value }}

      - name: Run node
        if: github.event_name == 'pull_request'
        timeout-minutes: 10
        shell: bash
        run: make AMARU_MAX_EXTRA_LEDGER_SNAPSHOTS=all demo

      - name: Install Cardano CLI
        if: github.event_name != 'pull_request'
        shell: bash
        run: |
          set -eux

          VERSION="10.11.0.0"

          curl -L -o cardano-cli.tar.gz \
            "https://github.com/IntersectMBO/cardano-cli/releases/download/cardano-cli-${VERSION}/cardano-cli-${VERSION}-x86_64-linux.tar.gz"

          mkdir -p cardano-cli-bin
          tar -xzf cardano-cli.tar.gz -C cardano-cli-bin
          mv cardano-cli-bin/cardano-cli* cardano-cli-bin/cardano-cli
          ls $PWD/cardano-cli-bin/
          chmod +x cardano-cli-bin/cardano-cli

      - name: Run node until latest epoch (main branch only)
        if: github.event_name != 'pull_request'
        timeout-minutes: 60
        shell: bash
        run: |
          set -eux

          export DEMO_TARGET_EPOCH=$(sudo $PWD/cardano-cli-bin/cardano-cli query tip --socket-path ${{ runner.temp }}/ipc/node.socket --testnet-magic ${{ matrix.network.magic }} | jq '.epoch - 1')
          make demo

      - name: Run tests
        if: github.event_name == 'pull_request'
        shell: bash
        run: |
          make test-e2e

      - name: Teardown haskell node
        if: ${{ always() }}
        shell: bash
        run: |
          docker logs --tail 200 cardano-node || true
          docker stop cardano-node
          docker rm cardano-node

      - uses: actions/cache/save@v4
        if: github.event_name == 'push'
        with:
          path: ${{ runner.temp }}/db-${{ matrix.network.name }}
          key: cardano-node-ogmios-${{ matrix.network.name }}-${{ steps.timestamp.outputs.value }}

  examples:
    name: Examples
    strategy:
      fail-fast: false
      matrix:
        projects:
          - ledger-in-nodejs
    defaults:
      run:
        working-directory: examples/${{ matrix.projects }}
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-wasm32-unknown-unknown
          restore-keys: |
            cargo-wasm32-unknown-unknown
      - name: Run make
        shell: bash
        run: make

  benches:
    name: Benches
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-x86_64-unknown-linux-gnu
          restore-keys: |
            cargo-x86_64-unknown-linux-gnu
      - name: Run amaru-consensus benches
        shell: bash
        run: cargo bench --bench headers_tree --features="test-utils profiling"

  cli:
    name: Test the CLI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache/restore@v4
        with:
          path: ${{ env.RUST_CACHE_PATH }}
          key: cargo-x86_64-unknown-linux-gnu
          restore-keys: |
            cargo-x86_64-unknown-linux-gnu
      - name: Install bash_unit
        shell: bash
        run: curl -s https://raw.githubusercontent.com/bash-unit/bash_unit/master/install.sh | bash
      - name: Install expect
        shell: bash
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y expect
      - name: Run bash_unit
        shell: bash
        run: FORCE_COLOR=true ./bash_unit cli-tests/test_*
