name: Nightly Sync

on:
  schedule:
    - cron: '00 08,22 * * *'
  workflow_dispatch:
    inputs:
      synchronization-level:
        description: 'Desired % synchronization level. Between 0 and 1.'
        required: false
        default: 1
        type: number

jobs:
  sync_and_cache:
    strategy:
      matrix:
        network: [ preprod, preview ]
        ogmios_version: [ v6.13.0 ]
        cardano_node_version: [ 10.1.4 ]

    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - id: timestamp
      shell: bash
      run: |
        echo "value=$(/bin/date -u '+%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

    - id: cache
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/db-${{ matrix.network }}
        key: cardano-node-ogmios-${{ matrix.network }}-${{ steps.timestamp.outputs.value }}
        restore-keys: |
          cardano-node-ogmios-${{ matrix.network }}

    - uses: CardanoSolutions/gh-action-cardano-node-ogmios-docker-sync@671d58cc73fe1edf9eab19c21dc3ae92e4176c37
      with:
        db-dir: ${{ runner.temp }}/db-${{ matrix.network }}
        network: ${{ matrix.network }}
        version: ${{ matrix.ogmios_version }}_${{ matrix.cardano_node_version }}
        synchronization-level: ${{ inputs.synchronization-level || 1 }}

    # Remove old immutable chunks from the database, we don't need them and they make cache & on-disk system larger.
    - name: prune node db
      if: steps.cache.outputs.cache-hit == 'false'
      shell: bash
      working-directory: ${{ runner.temp }}/db-${{ matrix.network }}
      run: |
        ls immutable/*.chunk | sort | head -n -100 | xargs -r rm -f --
